@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">

        <div class="content-wrapper float-left" style="text-align:center">

            <form method="post" name="loginForm">
                <table>
                    <tr>
                        <td>@ViewBag.EnterPrompt </td>
                        <td><input type="text" name="UID"/></td>
                    </tr>
                    <tr>
                        <td>@ViewBag.AdminPrompt</td>
                        <td><input type="text" name="AdminPass"/></td>
                    </tr>
                </table>
                <br />
                <input type="submit" value="Go!"/>
            </form>

        </div>

        <div class="content-wrapper float-right" style="text-align:center">
            <h1 style="font-weight:300">jump-start your life after college!</h1>
            <h4 style="font-weight:300">check out these testimonials from students</h4>
            <hr />
            <p style="font-weight:300"><p>"RealityU helped me visualize what life would</p> <p>be like without a proper education" - John H.</p>
        </div>

    </section>
}
